<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="ShiuanChingHuang"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow"> 
    <meta name="rating" content="General">
    <base target="_self">
    <!-- <base href="/static/"> -->
    <meta name="description" content="Python Flask 網站專案"> 
    <title>Assignment - Week 6</title>
    <!-- <link rel="stylesheet" href="./static/styles/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='./styles/style.css') }}">
</head>
<body>
    <header>
        <h1>歡迎光臨，請註冊登入系統</h1>
    </header>

    <main>
        <form id="newMember" action="/signup" method="POST">
            <h2>註冊帳號</h2>

            <div class="name">
                <label for="name">姓名 </label>
                <input type="text" name="name">
            </div>
            <div class="account">
                <label for="account">帳號 </label>
                <input type="text" name="account">
            </div>
            <div class="password">
                <label for="pwd">密碼 </label>
                <input type="password" name="pwd">   
            </div>
            
            <button type="submit">註冊</button>
        </form>

        <hr>

        <form id="member" action="/signin" method="POST">
            <h2>登入系統</h2>

            <div class="account">
                <label for="account">帳號 </label>
                <input type="text" name="account">
            </div>
            <div class="password">
                <label for="pwd">密碼 </label>
                <input type="password" name="pwd">   
            </div>
            
            <button type="submit">登入</button>
        </form>
    </main>

</body>
</html>
