<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="ShiuanChingHuang"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow"> 
    <meta name="rating" content="General">
    <base target="_self">
    <base href="/static/">
    <meta name="description" content="Python Flask 網站專案"> 
    <title>Assignment - Week 4</title>
    <!-- <link rel="stylesheet" href="./styles/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='./styles/style.css') }}">
</head>
<body>
    <header>
        <h1>歡迎光臨，這是會員頁</h1>
    </header>

    <main>
        <form id="member" action="/member/" method="POST">
            <h2>恭喜您，成功登入系統<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/signout">登出系統</a></h2> 
        </form>
    </main>
</body>
</html>
